<div id="fondo-act" class="fondo_activity">

	<div class="cuadro_centro_col">
		<div class="row">
			<div class="col-6">
				<h3 class="titulo-col"><%= @collection.name %></h3>
				<p class="titulo-col">Propietario de esta colección: <%= link_to @collection.user.name, user_path(@collection.user) %></p>
				<br>
				<img src="<%= @collection.photo.normal %>">
				<br><br>
				<% if can? :edit, @collection %>
					<%= link_to 'Editar esta colección', edit_collection_path(@collection), :class => 'btn btn-sm boton-tipo' %>
					<% end %>
			</div>

			<div class="col-6">
				<% if @registrada %>
					<%= link_to 'Dejar de seguir esta Colección', user_collection_path(@collection.id), method: :delete, :class => 'btn boton-tipo' %>
				<% else %>
					<%= link_to 'Seguir esta Colección', user_collections_path(:collection_id => @collection.id), method: :post, :class => 'btn boton-tipo' %>
				<% end %>
				<br><br><br><br>
				<h5 class="titulo-col">Actividades en esta colección:</h5>
				<ol class="color-rojo-col">
					<% @collection.activities.each do |activity| %>
						<li><h6><%= link_to activity.name, activity_path(activity) %>
							<% if user_signed_in? %>
								<% current_user.activities.each do |my_act| %>
									<% if my_act.id == activity.id %>
										<i class="titulo-col">actividad realizada</i>
									<% end %>
								<% end %>
							<% end %>

						</h6></li>
					<% end %>
				</ol>

			</div>
			
			<br>

		</div>
		

		<img src="<%= @collection.photo %>" id="lo" style="display: none">
	</div>
</div>

<script>
		
		$("#fondo-act").backstretch(document.getElementById("lo").src)
		
		

</script>