<h3>Promociones de <%= @user.name %></h3><br>

<table class="table">
	<thead>
		<th>Producto</th>
		<th>Precio</th>
		<th>¿Pagada?</th>
		<th>Fecha Pago</th>
		<th>Status</th>
		<th></th>
	</thead>
		<tbody>
		<% @promotes.each do |promote| %>
			<tr>
				<td><%= promote.activity.name %></td>
				<td><%= promote.amount %></td>
				<td>
					<% if promote.payed? %>
						Pagado
					<% else %>
						Pendiente de pago
					<% end %>
				</td>
				<% if promote.payed? %>
						<td> <%= promote.billing.updated_at %> </td>
						<td>
							<% if Time.now.utc.to_i/(3600) < promote.billing.updated_at.to_i/(3600) + promote.amount/4 %>
								Quedan <%= promote.billing.updated_at.to_i/(3600) - Time.now.utc.to_i/(3600) + promote.amount/4 %> horas de promoción
							<% else %>
								Promoción finalizada
							<% end %>
						</td>
						<td></td>
						<td></td>
					<% else %>
						<td>-</td>
						<td><%= link_to 'Borrar promoción', promote_activity_path(promote.id), method: :delete %></td>
				<% end %>	
			</tr>
		<% end %>
	</tbody>
</table>
<td><%= link_to 'Promocionar Todo', pre_pay_billings_path, :class => 'btn boton-config-titulo float-right' %>
