<h3>Promociones de <%= @user.name %></h3><br>

<table class="table">
	<thead>
		<th>Producto</th>
		<th>Precio</th>
		<th>¿Pagada?</th>
		<th></th>
	</thead>
		<tbody>
		<% @promotes.each do |promote| %>
			<tr>
				<td><%= promote.activity.name %></td>
				<td><%= promote.amount %></td>
				<td>
					<% if promote.payed? %>
						Pagado
					<% else %>
						Pendiente de pago
					<% end %>
				</td>
				<td>
					<% if promote.payed? %>
					<% else %>
						<%= link_to 'Borrar promoción', promote_activity_path(promote.id), method: :delete %>
					<% end %>	
				</td>
			</tr>
		<% end %>
	</tbody>
</table>
<td><%= link_to 'Promocionar Todo', pre_pay_billings_path, :class => 'btn btn-sm btn-success float-right' %>
