
<div class="crear">
	<%= link_to 'Crear nueva Actividad', new_activity_path %> | 
	<%= link_to 'Crear nueva Colección', new_collection_path %><br>
</div>

<br>
<form>
	<input name="q" placeholder="Buscar...">
</form>
<div id="resultado">
	<%= render 'activity' %>
</div>
<hr>

<div class="row">
	<div class="col-md-3 col-12">
		
		<h5>Colecciones</h5>
		<% @collections.each do |collection| %>
			<div class="collection_index p-1">
				<%= link_to collection.name, collection_path(collection) %><br>
				<img src="<%= collection.photo.normal %>" >
				
			</div>
		<% end %><br><br>
		
		<h5>Mis Contactos</h5>
		<% if user_signed_in? %>
			<% @contacts.each do |contact| %>
				<div class="collection_index">
					<img src="<%= User.find(contact.followed_id).photo.thumb %>" >
					<%= link_to User.find(contact.followed_id).name, user_path(User.find(contact.followed_id)) %><br>
				</div>
			<% end %>
		<% end %>
		<br>
		<h5>Otros Usuarios registrados</h5>
		<% if user_signed_in? %>
			<% @users.each do |user| %>
				<div class="collection_index">
					<img src="<%= user.photo.thumb %>" >
					<%= link_to user.name, user_path(user) %> <br>
				</div>
			<% end %>
		<% end %>

	</div>
	<div class="col-md-6 col-12">
		<% @sucesos.each do |evento|%>
			<div class="evento row">
				
				<div class="">
					<img src="<%= evento.user.photo.thumb %>" class="foto-index">
				</div>
				<div class="col-9">
					<p class="texto-index"><strong><%= link_to evento.user.name, user_path(evento.user_id) %></strong> <%= evento.activity.category.past %>
					<%= link_to evento.activity.name, activity_path(evento.activity.id) %><br>
					Categoría: <%= evento.activity.category.sustantivo %></p>
				</div>
				<div>
					<img src="<%= evento.activity.photo.normal %>">
					<% evento.actuser_photo.each do |pho| %>
						<img src="<%= pho.photo %>">
					<% end %>
					<br>
					<p><%= time_ago_in_words(evento.created_at) %></p>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-md-3">
		<h5>Otras Actividades</h5>

		<% @promotes.shuffle.each do |promote| %>
			<div class="collection_index p-2">
				<%= link_to promote.name, activity_path(promote) %><br>
				Categoría: <%= promote.category.sustantivo %><br>
				<img src="<%= promote.photo.normal %>"><br>
			</div>
		<% end %>
	</div>
<div>


<br>




<script>
  $("[name=q]").keyup(function(event){
    if($(this).val().length > 2 || $(this).val().length == 0){
      $.ajax({
        url: '<%= pages_index_path %>',
        type: 'GET',
        dataType: 'script',
        data: {q: $(this).val()
      }

    })}
  })
</script>

