<div class="titulo-user">
	<div class="letra-circulo">
		<%= @user.name[0].capitalize %>
	</div>
	<h2 style="color:rgb(240,50,50);float: left">Calendario de<br><%= @user.name %></h2>
</div>


<div class="row">
	<div class="foto-user col-5 col-md-3">
		<img src="<%= @user.photo.normal %>" class="foto_usuario"> 
	</div>
</div>
<br>
<div id="calendar">
</div>

<script>
	$("#calendar").fullCalendar({
		events: '<%= user_calendar_path %>',
		
		eventDrop: function( event, delta, revertFunc, jsEvent, ui, view) {
			$.ajax({
				url: '/edit_calendar/' + event.id,
				type: 'PATCH',
				dataType: 'json',
				data: {
					user_activity: {start: event.start.format(), },
					authenticity_token: "<%= form_authenticity_token %>"
				}
			})
		},

		editable: true,
		displayEventTime: false,
	})
</script>