<% if params[:q].present? %>
  <% @entities = Activity.where('name like ?', "%#{params[:q]}%") + Collection.where('name like ?', "%#{params[:q]}%") %>
<% else %>
  <% @entities = [] %>
<% end %>



<div class="nav-top row">

    <div class="col-3 buscador">

      <form>
        <input name="q" placeholder="Buscar..." id="buscar">
      </form>

      <div id="resultado">
        <%= render 'pages/activity' %>
      </div>
      
    </div>
  
    <% if user_signed_in? %>

        <div class="offset-0 col-12 offset-md-3 col-md-6">

          <strong><%= link_to 'Mis Colecciones', user_path(current_user), :class => 'nav-elemento texto-barra' %></strong>

          <strong><%= link_to 'Mi configuración', pages_configuration_path, :class => 'nav-elemento texto-barra' %></strong>
        </div>

        <div class="offset-4 offset-md-0 col-md-3 salir">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => 'nav-elemento texto-barra' %>

       </div>
    <% else %>

      <div class="col-12 offset-0 col-md-6 offset-md-6 nav-topleft">

        <%= link_to 'Ingresar', new_user_session_path, :class => 'nav-elemento texto-barra' %>

        <%= link_to 'Registrarse', new_user_registration_path, :class => 'nav-elemento texto-barra' %>
      
      </div>
    <% end %>

  
</div>



<script>
  $("[name=q]").keyup(function(event){
    if($(this).val().length > 2 || $(this).val().length == 0){
      $.ajax({
        url: '<%= pages_index_path %>',
        type: 'GET',
        dataType: 'script',
        data: {q: $(this).val()
      }

    })}
  })
</script>