<div class="nav-top row">
  
    <% if user_signed_in? %>

        <div class="offset-3 col-6 ">

          <strong><%= link_to 'Mis Colecciones', user_path(current_user), :class => 'nav-elemento texto-barra' %></strong>

          <strong><%= link_to 'Mi configuración', pages_configuration_path, :class => 'nav-elemento texto-barra' %></strong>
        </div>

        <div class="col-3 salir">
          <%= link_to 'Salir', destroy_user_session_path, method: :delete, :class => 'nav-elemento texto-barra' %>

       </div>
    <% else %>

      <div class="nav-topleft">

        <%= link_to 'Ingresar', new_user_session_path, :class => 'nav-elemento texto-barra' %>

        <%= link_to 'Registrarse', new_user_registration_path, :class => 'nav-elemento texto-barra' %>
      
      </div>
    <% end %>

  
</div>